@page
@model SportsClub.Pages.memberPayment.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Payment.id" />
            <div class="form-group">
                <label asp-for="Payment.Name" class="control-label"></label>
                <input asp-for="Payment.Name" class="form-control" />
                <span asp-validation-for="Payment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.payment" class="control-label"></label>
                <input asp-for="Payment.payment" class="form-control" />
                <span asp-validation-for="Payment.payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.paymentDate" class="control-label"></label>
                <input asp-for="Payment.paymentDate" class="form-control" />
                <span asp-validation-for="Payment.paymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
